Langchain/lang_venv/
RAG/venv/
python_3.10
Prompt Engineering/prompt_venv
Fast_Api/__pycache__/
Fast_Api/venv/
Fast_Api/TaskManager/__pycache__/
Showcase/CGPA/__pycache__/
Showcase/venv/
python_3.13.3
RAG/temp_venv/
Showcase/Pdf_assistant/__pycache__/